body {
    background-color: #eb46c1;
    opacity: 0.6;
    background: radial-gradient(circle, transparent 20%, #eb46c1 20%, #eb46c1 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #eb46c1 20%, #eb46c1 80%, transparent 80%, transparent) 40px 40px, linear-gradient(#db62ec 3.2px, transparent 3.2px) 0 -1.6px, linear-gradient(90deg, #db62ec 3.2px, #eb46c1 3.2px) -1.6px 0;
    background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
}

ul {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:auto;
    background-color: rgb(188, 117, 241);
    padding:10px;
    width:50vw;
    height:50vw;
    font-size: 5vw;
    border-radius: 100px;
}

ul h3 {
    margin:0;
    padding-bottom: 50px;
    color: rgb(16, 231, 246);
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: rgb(35, 131, 235);
}

li:nth-child(n+4) a {
    color: rgb(42, 89, 244);
}

li a:hover {
    color:rgba(255, 255, 0, 0.5);
}

@media screen and (max-width:560px) {
    ul{
        border-radius: 80px;
    }
}