body {
font-family: "Josefin Sans", sans-serif;
background-color: #AC3AF0;
}

header {
background-color: #B05694;
width:300px;
padding:10px;
border-radius:50px;
margin:auto;
}

header h1 {
color: #3AF08E;
}

nav {
background-color: rgb(134, 64, 239);
padding:10px;
width: 500px;
border-radius:50px;
margin:auto;
padding-bottom: 20px;
}

nav a {
    color:#619B59;
    text-decoration: none;
}

nav a:hover {
font-size: larger;
color: #51F03A;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    position:relative;
    float: left;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #B041A9;
    width: 33vw;
    max-width:720px;
    padding:10px;
    overflow-wrap: normal;
}

.assignment h3 {
    width:37.5vw;
}

.assignment p {
    color:#B5F01D ;
    width: 20vw;
}

.assignment a {
    color:#41B04C ;
    text-decoration: none;
}

.assignment a:hover {
    transform:scale(1.5);
    color: #51F03A;
}

.assignment img {
    width: 20vw;
    height: 12.5vw;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.assignment img:hover {
    transform:scale(1.2);
}

#beartutorial img {
    width:12.5vw;
    height:12.5vw;
}

