body {
font-family: "Josefin Sans", sans-serif;
background-color: #AC3AF0;
}

header {
background-color: #B05694;
width:300px;
padding:10px;
border-radius:50px;
margin:auto;
}

header h1 {
color: #3AF08E;
}

nav {
background-color: rgb(134, 64, 239);
padding:10px;
width: 500px;
border-radius:50px;
margin:auto;
padding-bottom: 20px;
}

nav a {
    color:#619B59;
    text-decoration: none;
}

nav a:hover {
font-size: larger;
color: #51F03A;
}

.assignment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    float: left;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #B041A9;
    width: 800px;
}

.assignment h3 {
    width:700px;
}

.assignment p {
    color:#B5F01D ;
    width: 700px;
}

.assignment a {
    color:#41B04C ;
    text-decoration: none;
}

.assignment a:hover {
    font-size:larger;
    color: #51F03A;
}

#flexboxfroggy img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

#flexboxfroggy img:hover {
    width: 600px;
    height:400px;
}