/* CSS Demo Page Stylesheet */

/* Colors

#2FCCD1 - Background
#2C3333 - Text
#3FA8AC - Secondary Color
#14ECF4 - Outline Color
#458588 - Additional
#416263 - Additional
#323E3F - Additional

*/

/*  ---------------Box Sizing-----------------  */



html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*  ---------------Responsive Images-----------------  */

img{
  max-width: 100%;
}

/*  ---------------Utility Classes-----------------  */

.container {
  width: 60vw;
  max-width: 960px;
  margin: auto;
}


body{
  font-family: "Josefin Sans", sans-serif;
    background-color: #2FCCD1;
    margin: 0;
}

header.primary{

  background-color: #3b638b;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px #000000;
  padding: 20px 40px 20px 40px;

}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0;
}

header.primary h1 a {
color: rgb(28, 151, 223);
text-decoration: none;
}

header.primary h2 {
  font-size: 1.3rem;
  margin: 0;
  color:#ffffff;
}

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header.primary nav {
  max-width: 960px;
  margin: auto;
}

header.primary nav ul li {
list-style-type: none;
}

header.primary nav ul li a {
  padding: 10px;
background-color: rgba(28, 151, 223, .4);
border-radius: 30px;
  font-size: 0.9rem;
  color: rgb(8, 253, 241);
  text-decoration: none;
}

header.primary nav ul li a:hover{
  background-color: rgb(246, 250, 14,0.4);
  font-size: larger;
  font-size: 1.1rem;
}

#content {
  line-height: 1.4;
}

#content h2 {
  color: rgb(15, 82, 121);
  border-bottom: 1px dotted rgb(28, 151, 223);
}

#blog {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  gap:10px;
}

#blog article.post {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.45);
  padding: 10px;
  border: 1px dotted rgb(28, 151, 223);
  border-radius:12px;
  font-size: 0.9rem;
}

#blog figure {
  margin:0;
  }

#blog figcaption {
  text-transform:uppercase;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(27, 69, 136);
}

#blog time.post-date {
  font-size: 0.6rem;
  color: rgb(35, 73, 211);
}

#blog article.post:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.45);
  background-color: rgb(42, 179, 243);
}


@media screen and (max-width:560px){
  
  header.primary nav ul {
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;
  }
  
  header.primary nav a{
    display: block;
  }
  
  
  }


