/* CSS Demo Page Stylesheet */

/* Colors

#2FCCD1 - Background
#2C3333 - Text
#3FA8AC - Secondary Color
#14ECF4 - Outline Color
#458588 - Additional
#416263 - Additional
#323E3F - Additional

*/

/*  ---------------Box Sizing-----------------  */



html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
  font-family: "Josefin Sans", sans-serif;
    background-color: #2FCCD1;
    margin: 0;
}

header.primary{

  background-color: #3b638b;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px #000000;
  padding: 20px 40px 20px 40px;

}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0;
}

header.primary h1 a {
color: rgb(28, 151, 223);
text-decoration: none;
}

header.primary h2 {
  font-size: 1.3rem;
  margin: 0;
  color:#ffffff;
}

header.primary nav ul li {
list-style-type: none;
padding: 10px;
background-color: rgba(28, 151, 223, .4);
border-radius: 30px;
}

header.primary nav ul li a {
  font-size: 0.9rem;
  color: rgb(8, 253, 241);
  text-decoration: none;
}

header.primary nav ul li:hover{
  background-color: rgb(246, 250, 14,0.4);
  font-size: larger;
}

header.primary nav ul li a:hover{
font-size: 1.1rem;
}

@media screen and (max-width:560px){
  
header.primary nav ul {
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  margin: auto;
}

header.primary nav a{
  display: block;
}


}


